<h1>Schedules</h1>

{{#link-to 'schedules.new' class="btn btn-primary"}}New Schedule{{/link-to}}

<hr>

<div class="row">
  <div class="col-md-8">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>Created</th>
          <th>Notes</th>
        </tr>
      </thead>
      <tbody>
        {{#each model as |schedule|}}
          {{#link-to 'schedules.show' schedule tagName="tr" class="clickable"}}
            <td>{{schedule.name}}</td>
            <td></td>
            <td>{{schedule.notes}}</td>
          {{/link-to}}
        {{/each}}
      </tbody>
    </table>
  </div>
</div>
