<h1>Spirit Type <em>{{model.name}}</em> <small>{{#link-to 'spiritTypes.edit' model}}edit{{/link-to}}</small></h1>

{{#if model.notes}}
  <p>
    {{model.notes}}
  </p>
{{/if}}

<hr>

{{#link-to 'spiritTypes.show.ages' model.id class="btn btn-primary"}}Ages{{/link-to}}
{{#link-to 'spiritTypes.show.lots' model.id (query-params age=null) class="btn btn-primary"}}Lots{{/link-to}}

{{outlet}}
