<h3>Event <em>{{moment-format event.date 'MM/DD/YY'}}</em> <small>{{#link-to 'schedules.show.events.edit' event.id}}edit{{/link-to}}</small></h3>

{{#if event.notes}}
  <p>
    {{event.notes}}
  </p>
{{/if}}

<hr>

<h4>Production</h4>
<div class="production-items-wrapper">
  <div class="row header">
    <div class="col-sm-3">
      <strong>Spirit Type</strong>
    </div>
    <div class="col-sm-1">
      <strong>Age</strong>
    </div>
    <div class="col-sm-2">
      <strong>Proof Gallons</strong>
    </div>
    <div class="col-sm-3">
      <strong>Notes</strong>
    </div>
  </div>

  {{#liquid-spacer}}
    {{#each event.productionItems as |item|}}
      {{production-item-editable-row item=item spiritTypes=spiritTypes}}
    {{/each}}
  {{/liquid-spacer}}

  {{production-item-new-form event=event spiritTypes=spiritTypes}}
</div>

<hr>

<h4>Processing</h4>
