<h1>Recipes</h1>

{{#link-to 'recipes.new' class="btn btn-primary"}}New Recipe{{/link-to}}

<table class="table">
  <thead>
    <tr>
      <th>
        Name
      </th>
      <th>
        Proof
      </th>
      <th>
        Notes
      </th>
    </tr>
  </thead>
  <tbody>
    {{#each recipe in model}}
      {{#link-to 'recipes.show' recipe tagName="tr"}}
        <td>
          {{recipe.name}}
        </td>
        <td>
          {{recipe.proof}}
        </td>
        <td>
          {{recipe.notes}}
        </td>
      {{/link-to}}
    {{/each}}
  </tbody>
</table>
