<h1>Recipes</h1>

{{#link-to 'recipes.new' class="btn btn-primary"}}New Recipe{{/link-to}}

<table class="table">
  <thead>
    <tr>
      <th>
        Name
      </th>
      <th>
        Proof
      </th>
      <th>
        Notes
      </th>
    </tr>
  </thead>
  <tbody>
    {{#each model as |recipe|}}
      {{#link-to 'recipes.show' recipe tagName="tr" class="clickable"}}
        <td>{{recipe.name}}</td>
        <td>{{recipe.proof}}</td>
        <td>{{recipe.notes}}</td>
      {{/link-to}}
    {{/each}}
  </tbody>
</table>
