<hr>

<h4>Created: {{moment-format model.createdAt 'MMM DD, YYYY'}}</h4>

{{#if model.notes}}
  <p>
    {{model.notes}}
  </p>
{{/if}}

<h3>Events</h3>

{{#link-to 'schedules.show.events.new' class="btn btn-primary"}}New Event{{/link-to}}

<div class="row">
  <div class="col-md-8">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Date</th>
          <th>Notes</th>
        </tr>
      </thead>
      <tbody>
        {{#each model.events as |event|}}
          {{#link-to 'schedules.show.events.show' event.id tagName="tr" class="clickable"}}
            <td>{{moment-format event.date 'MM/DD/YY'}}</td>
            <td>{{event.notes}}</td>
          {{/link-to}}
        {{/each}}
      </tbody>
    </table>
  </div>
</div>
